.quick-toolbar-container{
    display: flex;
}
.appbar-logo-icon{
    color: yellowgreen;
    background-color: #007089;
    border-radius: 10px;
    height: 24px;
    margin-right: 4px;
}
.app-title-name{
    font-weight: 600;
}
.app-title-container{
    font-size: 1.1rem;
}