<mat-toolbar style="justify-content: space-between;">
    <img src-="./src/assets/s_pad_icon_96x96.png" alt="logo" />
    <span>S - Pad</span>
    <div class="app-bar-right">
    <p><mat-slide-toggle (change)="onToggleDarkMode($event)">Dark Mode</mat-slide-toggle></p>
    </div>
</mat-toolbar>
<mat-toolbar>
    <div class="quick-toolbar-container">
        <button mat-raised-button (click)="onQuickToolBarButtonClick(TOOL_BAR.FORMAT_JSON)"><mat-icon>read_more</mat-icon>Format JSON</button>
    </div>
</mat-toolbar>