<mat-toolbar style="justify-content: space-between;">
    <!-- <img class="app-bar-logo" src="assets/s_pad_small.png" alt="logo" /> -->
    <div class="app-title-container">
    <mat-icon class="appbar-logo-icon">description</mat-icon>
    <span class="app-title-name">S Pad + -</span>
    </div>
    <div class="app-bar-right">
    <p><mat-slide-toggle (change)="onToggleDarkMode($event)">Dark Mode</mat-slide-toggle></p>
    </div>
</mat-toolbar>
<mat-toolbar>
    <div class="quick-toolbar-container">
        <button mat-raised-button (click)="onQuickToolBarButtonClick(TOOL_BAR.DOWNLOAD)"><mat-icon>download</mat-icon>Download</button>
        <button mat-raised-button (click)="onQuickToolBarButtonClick(TOOL_BAR.FORMAT_JSON)"><mat-icon>read_more</mat-icon>Format JSON</button>
        <button mat-raised-button (click)="onQuickToolBarButtonClick(TOOL_BAR.SAVE_AS)"><mat-icon>save</mat-icon>Save As</button>
        <button mat-raised-button (click)="onQuickToolBarButtonClick(TOOL_BAR.SETTINGS)"><mat-icon>settings</mat-icon>Settings</button>
        <button mat-raised-button (click)="reset()"><mat-icon>refresh</mat-icon>Reset</button>
    </div>
</mat-toolbar>