<div class="main-container">
    <div class="image-wrapper">
    <img class="home-page-logo image-fade" src="assets/s_pad.png" alt="logo"/>
    </div>
    <div class="spad-text">S Pad +-</div>
    <div class="tagline">Ultimate Developer's Notepad</div>
    <button class="install-btn" (click)="installPWA()"><mat-icon>download</mat-icon>  Install App</button>
    <button class="install-btn open-btn" (click)="openPWA()"><mat-icon>launch</mat-icon>  Open App</button>
    <div class="terminal">
        <span>{{ currentText }}</span><span class="cursor">|</span>
    </div>
</div>