<div class="tabs-container">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" [(selectedIndex)]="activeTabIndex" mat-stretch-tabs="false">
        @for (tab of tabs;track tab;let i = $index,last = $last,count = $count){
            <mat-tab [label]="tab.name">
                <ng-template mat-tab-label>
                    <span>{{tab.name}}</span> 
                    @if (count > 1) {
                    <mat-icon class="close-icon" (click)="closeTab(i)" matTooltip="Close Tab">cancel</mat-icon>
                    }
                    @if (last) {
                        <mat-icon class="add-icon" (click)="addTab()" matTooltip="New Tab">add</mat-icon>
                    }
                  </ng-template>
                <div class="main-area-container">
                    <div class="line-details">
                        @for ( line of tab.lineCount; track line) {
                            <p class="line-number">{{line}}</p>
                        }
                    </div>
                    <div class="code-container">
                        <pre class="code-block language-json" [id]="'code-block-' + tab.id">
                            <code class="language-json"></code>
                        </pre>
                        
                        <textarea spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off"
                            [formControl]="tab.mainTextAreaInput" class="main-text-area" (input)="highlightCode(tab)"
                            (scroll)="syncScroll($event, tab)">
                                                </textarea>
                    </div>
                </div>
            </mat-tab>
        }

      </mat-tab-group>
</div>
<!-- <div class="main-area-container">
    <div class="line-details">
        @for ( line of lineCount; track line) {
            <p class="line-number">{{line}}</p>
        }
    </div>
    <textarea [formControl]="mainTextAreaInput" class="main-text-area"></textarea>
</div> -->